In [ ]:
from sqlalchemy import Integer, String, create_engine, \
    Column, Table, ForeignKey
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy.ext.declarative import declarative_base

engine = create_engine('sqlite:///demo.sqlite', echo=True)
Base = declarative_base(engine)
session = sessionmaker(bind=engine)()

registrations = Table(
    'registrations', 
    Base.metadata,
    Column('student_id', Integer, ForeignKey('students.id')),
    Column('classes_id', Integer, ForeignKey('classes.id'))
)


class Class(Base):
    __tablename__ = "classes"
    id = Column(Integer, primary_key=True)
    name = Column(String)
    

class Student(Base):
    __tablename__ = "students"
    id = Column(Integer, primary_key=True)
    name = Column(String)
    classes = relationship(
        Class, secondary=registrations,
        backref=backref('students', lazy='dynamic'),
        lazy='dynamic')


Base.metadata.drop_all()    
Base.metadata.create_all()

2019-12-09 13:26:14,010 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

2019-12-09 13:26:14,010 INFO sqlalchemy.engine.base.Engine ()

2019-12-09 13:26:14,020 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

2019-12-09 13:26:14,020 INFO sqlalchemy.engine.base.Engine ()

2019-12-09 13:26:14,020 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("registrations")

2019-12-09 13:26:14,020 INFO sqlalchemy.engine.base.Engine ()

2019-12-09 13:26:14,031 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("classes")

2019-12-09 13:26:14,031 INFO sqlalchemy.engine.base.Engine ()

2019-12-09 13:26:14,039 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("students")

2019-12-09 13:26:14,039 INFO sqlalchemy.engine.base.Engine ()

2019-12-09 13:26:14,047 INFO sqlalchemy.engine.base.Engine
DROP TABLE registrations

2019-12-09 13:26:14,047 INFO sqlalchemy.engine.base.Engine ()

2019-12-09 13:26:14,449 INFO sqlalchemy.engine.base.Engine COMMIT

2019-12-09 13:26:14,469 INFO sqlalchemy.engine.base.Engine
DROP TABLE students

2019-12-09 13:26:14,469 INFO sqlalchemy.engine.base.Engine ()

2019-12-09 13:26:14,629 INFO sqlalchemy.engine.base.Engine COMMIT

2019-12-09 13:26:14,629 INFO sqlalchemy.engine.base.Engine
DROP TABLE classes

2019-12-09 13:26:14,629 INFO sqlalchemy.engine.base.Engine ()

2019-12-09 13:26:14,769 INFO sqlalchemy.engine.base.Engine COMMIT

2019-12-09 13:26:14,779 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("registrations")

2019-12-09 13:26:14,779 INFO sqlalchemy.engine.base.Engine ()

2019-12-09 13:26:14,779 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("registrations")

2019-12-09 13:26:14,779 INFO sqlalchemy.engine.base.Engine ()

2019-12-09 13:26:14,789 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("classes")

2019-12-09 13:26:14,789 INFO sqlalchemy.engine.base.Engine ()

2019-12-09 13:26:14,789 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("classes")

2019-12-09 13:26:14,789 INFO sqlalchemy.engine.base.Engine ()

2019-12-09 13:26:14,789 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("students")

2019-12-09 13:26:14,789 INFO sqlalchemy.engine.base.Engine ()

2019-12-09 13:26:14,799 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("students")

2019-12-09 13:26:14,799 INFO sqlalchemy.engine.base.Engine ()

2019-12-09 13:26:14,799 INFO sqlalchemy.engine.base.Engine
CREATE TABLE classes (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)

2019-12-09 13:26:14,799 INFO sqlalchemy.engine.base.Engine ()

2019-12-09 13:26:14,939 INFO sqlalchemy.engine.base.Engine COMMIT

2019-12-09 13:26:14,939 INFO sqlalchemy.engine.base.Engine
CREATE TABLE students (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)

2019-12-09 13:26:14,939 INFO sqlalchemy.engine.base.Engine ()

2019-12-09 13:26:15,051 INFO sqlalchemy.engine.base.Engine COMMIT

2019-12-09 13:26:15,051 INFO sqlalchemy.engine.base.Engine
CREATE TABLE registrations (
	student_id INTEGER,
	classes_id INTEGER,
	FOREIGN KEY(student_id) REFERENCES students (id),
	FOREIGN KEY(classes_id) REFERENCES classes (id)
)

2019-12-09 13:26:15,061 INFO sqlalchemy.engine.base.Engine ()

2019-12-09 13:26:15,181 INFO sqlalchemy.engine.base.Engine COMMIT

In [3]:
class1 = Class(name='English')
class2 = Class(name='Chinese')
stu1 = Student(name='Alex')
stu2 = Student(name='Bob')

stu1.classes.append(class1)
stu1.classes.append(class2)
stu2.classes.append(class2)

session.add(stu1)
session.add(stu2)
session.add(class1)
session.add(class2)

session.commit()

2019-12-09 13:26:29,290 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2019-12-09 13:26:29,290 INFO sqlalchemy.engine.base.Engine INSERT INTO classes (name) VALUES (?)

2019-12-09 13:26:29,290 INFO sqlalchemy.engine.base.Engine ('English',)

2019-12-09 13:26:29,300 INFO sqlalchemy.engine.base.Engine INSERT INTO classes (name) VALUES (?)

2019-12-09 13:26:29,300 INFO sqlalchemy.engine.base.Engine ('Chinese',)

2019-12-09 13:26:29,300 INFO sqlalchemy.engine.base.Engine INSERT INTO students (name) VALUES (?)

2019-12-09 13:26:29,310 INFO sqlalchemy.engine.base.Engine ('Alex',)

2019-12-09 13:26:29,310 INFO sqlalchemy.engine.base.Engine INSERT INTO students (name) VALUES (?)

2019-12-09 13:26:29,310 INFO sqlalchemy.engine.base.Engine ('Bob',)

2019-12-09 13:26:29,310 INFO sqlalchemy.engine.base.Engine INSERT INTO registrations (student_id, classes_id) VALUES (?, ?)

2019-12-09 13:26:29,310 INFO sqlalchemy.engine.base.Engine ((1, 1), (1, 2), (2, 2))

2019-12-09 13:26:29,320 INFO sqlalchemy.engine.base.Engine COMMIT

In [4]:
stu1.classes.all()

2019-12-09 13:26:31,624 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2019-12-09 13:26:31,628 INFO sqlalchemy.engine.base.Engine SELECT students.id AS students_id, students.name AS students_name
FROM students
WHERE students.id = ?

2019-12-09 13:26:31,632 INFO sqlalchemy.engine.base.Engine (1,)

2019-12-09 13:26:31,632 INFO sqlalchemy.engine.base.Engine SELECT classes.id AS classes_id, classes.name AS classes_name
FROM classes, registrations
WHERE ? = registrations.student_id AND classes.id = registrations.classes_id

2019-12-09 13:26:31,636 INFO sqlalchemy.engine.base.Engine (1,)

In [5]:
class1.students.all()

2019-12-09 13:26:32,798 INFO sqlalchemy.engine.base.Engine SELECT students.id AS students_id, students.name AS students_name
FROM students, registrations
WHERE ? = registrations.classes_id AND students.id = registrations.student_id

2019-12-09 13:26:32,802 INFO sqlalchemy.engine.base.Engine (1,)

In [6]:
class2.students.all()

2019-12-09 13:26:33,798 INFO sqlalchemy.engine.base.Engine SELECT students.id AS students_id, students.name AS students_name
FROM students, registrations
WHERE ? = registrations.classes_id AND students.id = registrations.student_id

2019-12-09 13:26:33,798 INFO sqlalchemy.engine.base.Engine (2,)

In [8]:
stu1.classes.remove(stu1.classes.all()[0])

2019-12-09 13:30:41,994 INFO sqlalchemy.engine.base.Engine SELECT classes.id AS classes_id, classes.name AS classes_name
FROM classes, registrations
WHERE ? = registrations.student_id AND classes.id = registrations.classes_id

2019-12-09 13:30:41,994 INFO sqlalchemy.engine.base.Engine (1,)

In [9]:
session.commit()

2019-12-09 13:31:30,578 INFO sqlalchemy.engine.base.Engine DELETE FROM registrations WHERE registrations.student_id = ? AND registrations.classes_id = ?

2019-12-09 13:31:30,578 INFO sqlalchemy.engine.base.Engine (1, 1)

2019-12-09 13:31:30,578 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
stu1.classes.all()

2019-12-09 13:32:02,757 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2019-12-09 13:32:02,757 INFO sqlalchemy.engine.base.Engine SELECT students.id AS students_id, students.name AS students_name
FROM students
WHERE students.id = ?

2019-12-09 13:32:02,757 INFO sqlalchemy.engine.base.Engine (1,)

2019-12-09 13:32:02,767 INFO sqlalchemy.engine.base.Engine SELECT classes.id AS classes_id, classes.name AS classes_name
FROM classes, registrations
WHERE ? = registrations.student_id AND classes.id = registrations.classes_id

2019-12-09 13:32:02,767 INFO sqlalchemy.engine.base.Engine (1,)

In [12]:
from sqlalchemy import DateTime, Table, Column, String, \
    create_engine, Integer, ForeignKey
from sqlalchemy.orm import sessionmaker, relationship
from sqlalchemy.ext.declarative import declarative_base
from datetime import datetime
 
engine = create_engine('sqlite:///demo.sqlite')
Base = declarative_base(engine)
session = sessionmaker(bind=engine)()
 
post_tag = \
    Table('post_tag', Base.metadata, 
          Column('id', Integer, primary_key=True, autoincrement=True),
          Column('post_id', Integer, ForeignKey('posts.id')),
          Column('tag_id', Integer, ForeignKey('tags.id')))
 
 
class Post(Base):
    __tablename__ = 'posts'
    id = Column(Integer, primary_key=True, autoincrement=True)
    title = Column(String, nullable=False)
    content = Column(String, nullable=False)
    created_on = Column(DateTime, default=datetime.now)
    updated_on = Column(DateTime, default=datetime.now, onupdate=datetime.now)
    tags = relationship('Tag', backref='posts', secondary=post_tag)
 
    def __repr__(self):
        return '<Post: {} {} letters>'.format(self.title, len(self.content))
 
 
class Tag(Base):
    __tablename__ = 'tags'
    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String, nullable=False)
 
    def __repr__(self):
        return '<Tag: {}>'.format(self.name)

In [13]:
Base.metadata.drop_all()
Base.metadata.create_all()

In [15]:
p1 = Post(title='hello', content='world')
p2 = Post(title='football', content='world cup')

t1 = Tag(name='Tech')
t2 = Tag(name='Funny')
t3 = Tag(name='News')

p1.tags.append(t1)
p1.tags.append(t2)
p1.tags.append(t3)
p2.tags.append(t2)
p2.tags.append(t3)

session.add(p1)
session.add(p2)
session.commit()

In [16]:
bs = session.query(Post).all()
for b in bs:
    print(b, end=': ')
    print(b.tags)

<Post: hello 5 letters>: [<Tag: Tech>, <Tag: Funny>, <Tag: News>]
<Post: football 9 letters>: [<Tag: Funny>, <Tag: News>]

In [17]:
bs2 = session.query(Tag).all()
for b in bs2:
    print(b, end=': ')
    print(b.posts)

<Tag: Tech>: [<Post: hello 5 letters>]
<Tag: Funny>: [<Post: hello 5 letters>, <Post: football 9 letters>]
<Tag: News>: [<Post: hello 5 letters>, <Post: football 9 letters>]